
@font-face {
  font-family: ARIAL;
  src: url('webfonts/ARIAL.TTF');
}

* {
	font-family: ARIAL;
    padding: 0;
    margin: 0;
	box-sizing: border-box;
}


html {
    font-size: 62.5%; /* 1 rem = 16px -> 1 rem = 10 px   (pxtoem.com) */
	
}
body{
    background-color: $light-gray;
}





