.profile{
    font-size: 1.4rem;
    max-width: 90rem;
    margin:1rem auto;
    &__body{
        display: flex;
        align-items: center;
        margin: 1rem;
        .fa{
            font-size:3rem;
            color: $purple;
            margin-right: 2rem;

        }
    }
}